{% extends 'core/base.html' %}

{% load static %}

{% block content %}
<div class="container">

    <!--Logo-->
    

    <!--Logo-->

    <div class="col-sm-32 col-md-32 col-lg-32 mt-3 mb-5 border">

        <p class="mt-1">
            <!--Intro Section-->

        <section class="view intro-video">

            <div class="hm-gradient">
                <div class="full-bg-img">
                    <div class="container flex-center">
                        <div class="row pt-5 mt-3">
                            <div class="col-lg-6 wow fadeIn mb-5 text-center text-lg-left">
                                <div class="white-text">
                                    <h1 class="h1-responsive font-weight-bold wow fadeInLeft" data-wow-delay="0.3s">
                                        UN
                                        TALLER DE CONFIANZA</h1>
                                    <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                                    <p class="wow fadeInLeft" data-wow-delay="0.3s">Preocupado siempre de
                                        otorgar el mejor
                                        servicio, posee el concepto más innovador del
                                        rubro automotriz, el que se traduce en una especial preocupación en la
                                        atención del
                                        vehículo pero a la vez en la persona.</p>
                                    <br>

                                </div>

                                <h1 class="h1-responsive font-weight-bold wow fadeInLeft" data-wow-delay="0.3s">
                                    Nuestros
                                    Servicios</h1>
                                <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                                <p class="wow fadeInLeft" data-wow-delay="0.3s">Estamos orientados en brindar la
                                    mejor
                                    atención y servicio en la mantención de su vehículo, dándole un valor
                                    agregado y
                                    ofreciéndole la seguridad que su inversión siempre estará en buenas manos.
                                </p>

                                <img src="{% static '/img/mecanico.png' %}" width="500px">


                            </div>

                            <div class="col-lg-6 wow fadeIn">
                                <div class="embed-responsive embed-responsive-16by9 wow fadeInRight">
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/GUXOM1Us9bU"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        </p>

    </div>

</div>

</div>



{% endblock  %}