{% extends 'core/base.html' %}

{% load static %}

{% block content %}

<div class="hm-gradient">
    <div class="full-bg-img">
        <div class="container flex-center">
            <div class="row pt-5 mt-3">
                <div class="col-lg-6 wow fadeIn mb-5 text-center text-lg-left">
                    <div class="white-text">
                        <h1 class="h1-responsive font-weight-bold wow fadeInLeft" data-wow-delay="0.3s">Quienes
                            Somos</h1>
                        <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                        <p class="wow fadeInLeft" data-wow-delay="0.3s">un servicio automotriz especializado en
                            cubrir las necesidades que el mercado no prestaba, uno de los problemas radicaba en la
                            sensación de la baja confianza de los clientes hacia los servicios automotrices. Desde
                            ese minuto se comenzó a generar un sistema de trabajo para recupera la confianza de los
                            clientes y estar a la altura de los servicios ofrecidos. Desde ese minuto y hasta el día
                            de hoy, somos una empresa que sus esfuerzos van en directa relación a la satisfacción de
                            nuestros clientes, con respeto, responsabilidad y sobre todo con empatía.
                            El equipo humano de Vimont esta capacitado para brindar el mas alto nivel de
                            satisfacción de la industria automotriz. A si mismo contamos con los estándares de
                            eficiencia en equipos y tecnología para lograr todos nuestros objetivos planteados..</p>
                        <br>

                    </div>
                </div>

                <div class="col-lg-6 wow fadeIn">
                    <img class="rounded-sm" src="{% static '/img/mecanico.png' %}" width="500px">
                </div>

            </div>
        </div>
    </div>
</div>



<div class="hm-gradient">
    <div class="full-bg-img">
        <div class="container flex-center">
            <div class="row pt-5 mt-3">
                <div class="col-lg-6 wow fadeIn mb-5 text-center text-lg-left">
                    <div class="white-text">
                        <h1 class="h1-responsive font-weight-bold wow fadeInLeft" data-wow-delay="0.3s">Nuestra
                            Mision</h1>
                        <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                        <p class="wow fadeInLeft" data-wow-delay="0.3s">Entregar soluciones confiables y duraderas a
                            nuestros clientes, a un valor conveniente y de mercado, así también, como orientar y
                            asesorar de forma profesional y experta. Con el fin de que puedan nuestros clientes
                            tomar las mejores decisiones para sus vehículos.</p>
                        <br>

                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn">
                    <img src="{% static '/img/scaner.jpg' %}" width="500px">
                </div>

            </div>
        </div>
    </div>
</div>

<div class="hm-gradient">
    <div class="full-bg-img">
        <div class="container flex-center">
            <div class="row pt-5 mt-3">
                <div class="col-lg-6 wow fadeIn mb-5 text-center text-lg-left">
                    <div class="white-text">
                        <h1 class="h1-responsive font-weight-bold wow fadeInLeft" data-wow-delay="0.3s">Nuestra
                            Vision</h1>
                        <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                        <p class="wow fadeInLeft" data-wow-delay="0.3s">Ser reconocidos por el mercado como expertos
                            en la marcas que trabajamos. Así como ser referentes para nuestros
                            clientes,colaboradores,proveedores.</p>
                        <br>

                    </div>
                </div>

                <div class="col-lg-6 wow fadeIn">
                    <img src="{% static '/img/vision.jpg' %}" width="500px">
                </div>
                <div class="col-sm-32 col-md-30 col-lg-32 mt-3 mb-5 border">
                    <div class="custom-contact-info">
                        <h1>Contacto</h1>
                        <div class="custom-contact-info">
                            <p class="custom-contact-long"><i class="fa fa-map-marker"></i> &nbsp; Las Dalias
                                #2602-Lolol
                            </p>
                            <p><i class="fa fa-phone"></i> &nbsp; Correo:</p>
                            <p><i class="fa fa-envelope"></i> &nbsp; <a
                                    href="https://www.youtube.com/channel/UC_VuUqwbZ6iR02vAXr48A1g?view_as=subscriber">al.saavedran@alumnos.duoc.cl</a>
                            </p>
                            <p><i class="fa fa-fax"></i> &nbsp;Fono: +56982401722</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-20 col-md-32 col-lg-32 mt-3 mb-5 border">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13099.3201779745!2d-71.70868025799923!3d-34.83536543640079!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x96641638809996f7%3A0x83f89680bdb29744!2sRanguil%2C%20Lolol%2C%20O&#39;Higgins!5e0!3m2!1ses!2scl!4v1591107781008!5m2!1ses!2scl"
                        width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""
                        aria-hidden="false" tabindex="0"></iframe>


                </div>

            </div>











            {% endblock  %}